<section>
  <h1>Hello</h1>
  <% @entities.each do |entity|%>
    <a href="<%= group_entity_path(entity)%>">
      <%= entity.name %>
    <%# </a> %>
  <%# <%end%> %>
  <%# <%= link_to 'Create transaction', new_group_entity_path(group_id: @group.id) %> %>
</section>